[submodule "lib/FFXIVQuickLauncher"]
	path = lib/FFXIVQuickLauncher
	url = https://github.com/avafloww/FFXIVQuickLauncher.git
[submodule "lib/EFCore.NamingConventions"]
	path = lib/EFCore.NamingConventions
	url = https://github.com/avafloww/EFCore.NamingConventions
